.App {
  text-align: center;

  display: flex;
  justify-content: space-between;

  max-width: 1024px;
  margin: auto;

  padding-top: 100px;
}

.todo_wrapper {
  width: 400px;
}

.todo_item {
  display: flex;
  justify-content: space-between;

  padding: 5px 0;
}

.action_buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
